<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shopping List</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<form action="http://localhost:5050/showitems" method = "post">
  <table>
    <tr>
      <td>Product</td>
      <td><input type="text" name="product"></td>
    </tr>
    <tr>
      <td>Product ID</td>
      <td><input type="text" name="product_id"></td>
    </tr>
    <tr>
      <td>Quantity</td>
      <td><input type="text" name="quantity"></td>
    </tr>
    <tr>
      <td>Price</td>
      <td><input type="text" name="price"></td>
    </tr>
    <tr>
      <td><input class="button" type="submit"></td>
    </tr>
  </table>
</form>
</body>
</html>