<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show Items</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<table>
  <tr>
    <th>Unit</th>
    <th>Details</th>
  </tr>
  <tr>
    <td>Product</td>
    <td>{{product}}</td>
  </tr>
  <tr>
    <td>Product ID</td>
    <td>{{product_id}}</td>
  </tr>
  <tr>
    <td>Quantity</td>
    <td>{{quantity}}</td>
  </tr>
  <tr>
    <td>Price</td>
    <td>{{price}}</td>
  </tr>
</table>
</body>
</html>